<template>
  <v-container>
    <v-row>
      <v-col cols="9">
        <h1>Game Setup</h1>
        <p>id: {{ id }}</p>
        <p>
          The square play area is: Top left = {{ startLatitude }},
          {{ startLongitude }}. Bottom right = {{ endLatitude }}
          {{ endLongitude }}
        </p>

        <v-stepper v-model="setupProgress" vertical>
          <v-stepper-step :complete="setupProgress > 1" step="1">
            Place your ships!
            <small>Everyone place your vessels or send your invites.</small>
          </v-stepper-step>

          <v-stepper-content step="1">
            <v-form>
              <p>Place your ships</p>
              <ol>
                <li v-for="num in shipCount" :key="num">
                  <v-row>
                    <v-col>
                      <v-text-field label="latitude" required></v-text-field>
                    </v-col>
                    <v-col>
                      <v-text-field label="longitude" required></v-text-field>
                    </v-col>
                    <v-col cols="2">
                      <v-text-field
                        v-model="bearing"
                        label="bearing"
                        required
                        type="number"
                        counter="3"
                        min="0"
                        max="359"
                        suffix="°"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </li>
              </ol>
            </v-form>

            <v-btn color="success" @click="e6 = 2">Begin</v-btn>
            <p>You have 24 hours to begin before the room resets.</p>
          </v-stepper-content>

          <v-stepper-step :complete="setupProgress > 2" step="2">
            Start firing
            <small>Play between friend</small>
          </v-stepper-step>

          <v-stepper-content step="2">
            <v-row>
              <v-col>
                <v-text-field label="latitude" required></v-text-field>
              </v-col>
              <v-col>
                <v-text-field label="longitude" required></v-text-field>
              </v-col>
            </v-row>
            <v-btn color="warn" @click="e6 = 2">Fire</v-btn>
          </v-stepper-content>
        </v-stepper>
      </v-col>
      <v-col>
        <h2>Player List</h2>
        <p>Invite link</p>
        <ul>
          <li v-for="{ name, state } in players" :key="name">
            {{ name }}, status: {{ state }}
          </li>
          <li>...</li>
        </ul>
      </v-col>
    </v-row>
    <v-row>
      <v-timeline>
        <v-timeline-item small left>
          <template v-slot:opposite>
            <span :class="`headline font-weight-bold`" v-text="1946"></span>
          </template>
          <div class="py-4">
            <h2 :class="`headline font-weight-light mb-4`">
              The Battle Has Begun
            </h2>
            <div>
              It was a cold dark morning when the anchors were set, crews always
              on watch. Anticipating the battle to start at a moments notice.
              They do not yet know who will fire the fist shots...
            </div>
          </div>
        </v-timeline-item>
        <v-timeline-item right>
          <template v-slot:opposite>
            <span class="headline font-weight-bold">1946 10pm</span>
          </template>
          <div class="py-4">
            <h2 :class="`headline font-weight-light mb-4`">
              Player# fires onto _____N _____W
            </h2>
            <div>
              All ships report no damage.
            </div>
          </div>
        </v-timeline-item>
        <v-timeline-item right>
          <template v-slot:opposite>
            <span class="headline font-weight-bold">1946 11pm</span>
          </template>
          <div class="py-4">
            <h2 :class="`headline font-weight-light mb-4`">
              Player# fires onto _____N _____W
            </h2>
            <div>
              All ships report no damage
            </div>
          </div>
        </v-timeline-item>
        <v-timeline-item left>
          <template v-slot:opposite>
            <span class="headline font-weight-bold">1946 12pm</span>
          </template>
          <div class="py-4">
            <h2 :class="`headline font-weight-light mb-4`">
              You fire onto _____N _____W
            </h2>
            <div>
              No impacts reported.
            </div>
          </div>
        </v-timeline-item>
        <v-timeline-item right>
          <template v-slot:opposite>
            <span class="headline font-weight-bold">1946 1am</span>
          </template>
          <div class="py-4">
            <h2 :class="`headline font-weight-light mb-4`">
              player# fires onto _____N _____W
            </h2>
            <div>
              player#, player# has been hit
            </div>
          </div>
        </v-timeline-item>
        <v-timeline-item right>
          <template v-slot:opposite>
            <span class="headline font-weight-bold">1946 2am</span>
          </template>
          <div class="py-4">
            <h2 :class="`headline font-weight-light mb-4`">
              player# fires onto _____N _____W
            </h2>
            <div>
              player# has been hit and lost a vessel
            </div>
          </div>
        </v-timeline-item>
      </v-timeline>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: 'Start',
  props: {
    id: {
      type: String,
      default: 'abcd'
    }
  },
  data() {
    // states => invited, joined, placing ships, ready
    return {
      startLatitude: "45° 50'00N",
      startLongitude: "005° 50'00W",
      endLatitude: "45° 50'00N",
      endLongitude: "005° 40'00W",
      players: [
        { name: 'john', state: 'invited' },
        { name: 'Jenny', state: 'joined' },
        { name: 'Frank', state: 'placing ships' }
      ],
      shipCount: 3,
      bearing: 0,
      setupProgress: 1
    }
  },
  methods: {
    validateBearing(value) {
      value
    }
  }
}
</script>
