<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        />
      </v-col>

      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Battleships!
        </h1>

        <p class="subheading font-weight-regular">
          RYA Training Chart based practice for map coordinates.
        </p>
      </v-col>
    </v-row>
    <v-row>
      <v-spacer></v-spacer>
      <v-col class="mb-5" cols="3">
        <v-card shaped>
          <v-card-title>
            Get a Map Area
          </v-card-title>
          <v-card-text>
            Get given a random area of the map to play within
          </v-card-text>
          <v-card-actions>
            <v-avatar color="primary">1</v-avatar>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-spacer></v-spacer>
      <v-col class="mb-5" cols="3">
        <v-card shaped>
          <v-card-title>
            Invite Friends &amp; moor your vessels
          </v-card-title>
          <v-card-text>
            Place your ships somewhere they'll be hidden
          </v-card-text>
          <v-card-actions>
            <v-avatar color="secondary">2</v-avatar>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-spacer></v-spacer>
      <v-col class="mb-5" cols="3">
        <v-card shaped>
          <v-card-title>
            Start Firing!
          </v-card-title>
          <v-card-text>
            Try to hit everyone else before they hit you.
          </v-card-text>
          <v-card-actions>
            <v-avatar color="accent">3</v-avatar>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-spacer></v-spacer>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Home',

  data: () => ({})
}
</script>
