<template>
  <v-container>
    <v-row>
      <v-col>
        <h1>Start</h1>
        <p>Begin a new game to play with friends</p>
        <ul>
          You get:
          <li>Map Area</li>
          <li>Invite link</li>
        </ul>
        <v-btn
          :to="{ name: 'Game', params: { id: 'abcdefg' } }"
          color="primary"
        >
          New Game
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: 'Start',
  methods: {
    createGame() {
      const newID = 'get a new id from the server.'
      this.$router.push({
        name: 'Game',
        params: { id: newID }
      })
    }
  }
}
</script>
